body{
    background-color:beige;
}
h1{
    font-size:60px;
    color:black;
}
h2{
    font-size:40px;
    color:maroon;
}
h3{
    font-size:30px;
    color:cornflowerblue
}
h4{
    font-size:30px;
    color:cornflowerblue
}
p{
    font-size:20px;
    color:black;
}

ul{
    background:burlywood;
    padding:10px;
}
ul li{
    font-size:20px;
    color:black;
}